<template>
  <v-app dark id="app">
    <v-toolbar dark class="nav">
      <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
      <v-toolbar-title>
        <h1>
          <v-icon dark>fas fa-dungeon</v-icon>
          Haversack<span class="sub-text">Helper</span>
        </h1>
      </v-toolbar-title>
      <v-spacer></v-spacer>
    </v-toolbar>
    <v-navigation-drawer
        v-model="drawer"
        absolute
        dark
        temporary
      >
        <v-toolbar flat class="transparent">
          <v-list class="pa-0">
            <v-list-tile>
              <h1>
                <v-icon dark>fas fa-dungeon</v-icon>
                Haversack<span class="sub-text">Helper</span>
              </h1>
            </v-list-tile>
          </v-list>
        </v-toolbar>

        <v-list class="pt-0" dense>
          <v-divider></v-divider>

          <v-list-tile
            v-for="item in items"
            :key="item.title"
            @click="$router.push(item.route)"
            :disabled="item.comingsoon"
          >
            <v-list-tile-action>
              <v-icon>{{ item.icon }}</v-icon>
            </v-list-tile-action>

            <v-list-tile-content>
              <v-list-tile-title>{{ item.title }}</v-list-tile-title>
              <div class="badge" v-if="item.comingsoon">Coming Soon</div>
            </v-list-tile-content>
          </v-list-tile>
        </v-list>
      </v-navigation-drawer>
    <router-view/>
    <footer>Powered by <a href='http://www.madedev.co.uk'>MadeDev.co.uk</a> | Email: <a href="mailto:contact@madedev.co.uk">contact@madedev.co.uk</a></footer>
  </v-app>
</template>

<script>
export default {
  data() {
    return {
      drawer: true,
      items: [
        {
          title: 'Home',
          icon: 'fas fa-dungeon',
          route: '/',
        },
        {
          title: 'Races',
          icon: 'fas fa-dna',
          route: '/races',
          comingsoon: true,
        },
        {
          title: 'Classes',
          icon: 'fas fa-hat-wizard',
          route: '/classes',
        },
        {
          title: 'Monsters',
          icon: 'fas fa-paw',
          route: '/monsters',
        },
        {
          title: 'Spells',
          icon: 'fas fa-scroll',
          route: '/spells',
          comingsoon: true,
        },
        {
          title: 'Magic Items',
          icon: 'fas fa-magic',
          route: '/magic-items',
          comingsoon: true,
        },
        {
          title: 'Crafting',
          icon: 'fas fa-hammer',
          route: '/crafting',
          comingsoon: true,
        },
        { title: 'Encounter Calculator', icon: 'fas fa-calculator', route: '/encounter-calculator' },
        { title: 'Random Character', icon: 'fas fa-dice', route: '/character-creator' },
      ],
      right: null,
    };
  },
};
</script>

<style scoped lang="scss">
.v-icon {
  line-height: 1.3em;
}
</style>

<style lang="scss">
$red: #d20d12;

h1 {
  margin: 0 auto;
  .v-icon {
    font-size: inherit;
  }
  color: white;
}
.sub-text {
  color: $red;
}

.v-btn.red {
  background-color: $red !important;
}

aside .v-list__tile--link {
  height: 4em !important;
}

aside .v-list__tile__content .badge {
  position: absolute;
  right: 1em;
}

#app {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  font-size: 1.5em;
}

.nav {
  margin-bottom: 1em;
}

footer {
  font-size: 0.5em;
  margin-top: 5em;
  a {
    color: white;
  }
}
</style>

<style lang="scss">
@media only screen and (min-width: 1264px) {
  .container {
      max-width: 100%;
  }
}

@media only screen and (min-width: 960px){
  .container {
        max-width: 100%;
  }
}
</style>
