<template>
  <div>
    <h3>{{pageTitle}}</h3>
    <v-btn class="red" @click="gen">Gen</v-btn>
    <v-checkbox
      v-model="doPointBuy"
      :label="'Use Point Buy?'"
    ></v-checkbox>
    <v-checkbox
      v-model="doSmartAssign"
      :label="'Use Class Friendly Assignment?'"
    ></v-checkbox>
    <div class="item">
      <div class="title">Name</div>
      <div class="data">{{character.Name}}</div>
    </div>
    <div class="item">
      <div class="title">Race</div>
      <div class="data">{{character.Subrace.name}} {{character.Race.name}}</div>
    </div>
    <div class="item">
      <div class="title">Class</div>
      <div class="data">{{character.Class.name}}</div>
    </div>
    <div class="item">
      <div class="title">Strength</div>
      <div class="data">{{character.AbilityScores.Strength}}</div>
    </div>
    <div class="item">
      <div class="title">Dexterity</div>
      <div class="data">{{character.AbilityScores.Dexterity}}</div>
    </div>
    <div class="item">
      <div class="title">Constitution</div>
      <div class="data">{{character.AbilityScores.Constitution}}</div>
    </div>
    <div class="item">
      <div class="title">Intelligence</div>
      <div class="data">{{character.AbilityScores.Intelligence}}</div>
    </div>
    <div class="item">
      <div class="title">Wisdom</div>
      <div class="data">{{character.AbilityScores.Wisdom}}</div>
    </div>
    <div class="item">
      <div class="title">Charisma</div>
      <div class="data">{{character.AbilityScores.Charisma}}</div>
    </div>
    <div class="item">
      <div class="title">Parents</div>
      <div class="data">{{character.backstory.parents}}</div>
    </div>
    <div class="item">
      <div class="title">Birthplace</div>
      <div class="data">{{character.backstory.birthplace}}</div>
    </div>
    <div class="item">
      <div class="title">Siblings</div>
      <v-container grid-list-md class="data">
        <v-layout wrap>
          <v-flex xs6 md6 class="sibling"
            v-for="(sibling, index) in character.backstory.siblings"
            :key="index">
            <v-item>
              <v-card class="mt-2">
                <v-card-title class="name">
                  {{sibling.name}}
                </v-card-title>
                <v-card-text>
                  <div class="item">
                    <div class="title">Age</div>
                    <div class="data">{{sibling.order}}</div>
                  </div>
                  <div class="item">
                    <div class="title">Relationship</div>
                    <div class="data">{{sibling.relationship}}</div>
                  </div>
                  <div class="item">
                    <div class="title">Occupation</div>
                    <div class="data">{{sibling.occupation}}</div>
                  </div>
                  <div class="item">
                    <div class="title">Status</div>
                    <div class="data">{{sibling.status}}</div>
                  </div>
                </v-card-text>
              </v-card>
            </v-item>
          </v-flex>
        </v-layout>
      </v-container>
    </div>
    <div class="item">
      <div class="title">Raised by</div>
      <div class="data">{{character.backstory.family}}</div>
    </div>
    <div class="item">
      <div class="title">Raised lifestyle</div>
      <div class="data">{{character.backstory.lifestyle}}</div>
    </div>
    <div class="item">
      <div class="title">Childhood Home</div>
      <div class="data">{{character.backstory.childhoodhome}}</div>
    </div>
    <div class="item">
      <div class="data">{{character.backstory.reason}}</div>
    </div>
    <div class="item">
      <div class="title">Age</div>
      <div class="data">{{character.backstory.age}}</div>
    </div>
    <div class="item">
      <div class="title">Events</div>
      <div class="data">{{character.backstory.events}}</div>
    </div>
    <div class="item">
      <div class="title">Alignment</div>
      <div class="data">{{character.backstory.alignment}}</div>
    </div>
  </div>
</template>

<script>
function shuffle(_array) {
  const array = _array;
  let counter = array.length;

  // While there are elements in the array
  while (counter > 0) {
    // Pick a random index
    const index = Math.floor(Math.random() * counter);

    // Decrease counter by 1
    counter -= 1;

    // And swap the last element with it
    const temp = array[counter];
    array[counter] = array[index];
    array[index] = temp;
  }

  return array;
}

function getRandomInt(_min, _max) {
  const min = Math.ceil(_min);
  const max = Math.floor(_max);
  // The maximum is exclusive and the minimum is inclusive
  return Math.floor(Math.random() * (max - min)) + min;
}

function getName(race) {
  // TODO: Actually implement
  if (race) {
    return 'Crandor';
  }
  return 'Bill';
}

function rollDice() {
  let output = [];

  for (let i = 0; i < 4; i += 1) {
    output.push(getRandomInt(1, 7));
  }

  output = output.sort();
  output.shift();
  return output.reduce((a, b) => a + b);
}

const races = [
  {
    name: 'Dwarf',
    subrace: [
      [
        {
          name: 'Hill',
          bonus: [[2, 2], [4, 1]],
        },
        {
          name: 'Mountain',
          bonus: [[2, 2], [0, 2]],
        },
      ],
    ],
    maxAge: 350,
  },
  {
    name: 'Elf',
    subrace: [
      [
        {
          name: 'High',
          bonus: [[1, 2], [3, 1]],
        },
        {
          name: 'Wood',
          bonus: [[1, 2], [4, 1]],
        },
        {
          name: 'Dark',
          bonus: [[1, 2], [5, 1]],
        },
      ],
    ],
    maxAge: 750,
  },
  {
    name: 'Halfling',
    subrace: [
      [
        {
          name: 'Lightfoot',
          bonus: [[1, 2], [5, 1]],
        },
        {
          name: 'Stout',
          bonus: [[1, 2], [3, 1]],
        },
      ],
    ],
    maxAge: 250,
  },
  {
    name: 'Human',
    subrace: [
      [
        {
          name: '',
        },
        {
          name: 'Variant',
        },
      ],
    ],
    maxAge: 90,
  },
  {
    name: 'Dragonborn',
    subrace: [
      [
        {
          name: '',
          bonus: [[0, 2], [2, 1]],
        },
      ],
    ],
    maxAge: 80,
  },
  {
    name: 'Gnome',
    subrace: [
      [
        {
          name: 'Forest',
          bonus: [[3, 2], [1, 1]],
        },
        {
          name: 'Rock',
          bonus: [[3, 2], [2, 1]],
        },
      ],
    ],
    maxAge: 500,
  },
  {
    name: 'Half-Elf',
    subrace: [
      [
        {
          name: '',
          bonus: [[5, 2]],
        },
      ],
    ],
    maxAge: 180,
  },
  {
    name: 'Half-Orc',
    subrace: [
      [
        {
          name: '',
          bonus: [[0, 2], [2, 1]],
        },
      ],
    ],
    maxAge: 75,
  },
  {
    name: 'Tiefling',
    subrace: [
      [
        {
          name: '',
          bonus: [[3, 1], [5, 2]],
        },
      ],
    ],
    maxAge: 100,
  },
];

const classes = [
  {
    name: 'Barbarian',
    smartAssign: array => {
      const sorted = array.sort((a, b) => a > b);
      const results = [0, 0, 0, 0, 0, 0];
      results[0] = sorted.shift();
      results[2] = sorted.shift();
      const shuffled = shuffle(sorted);
      results[1] = shuffled.shift();
      results[3] = shuffled.shift();
      results[4] = shuffled.shift();
      results[5] = shuffled.shift();
      return {
        Strength: results[0],
        Dexterity: results[1],
        Constitution: results[2],
        Intelligence: results[3],
        Wisdom: results[4],
        Charisma: results[5],
      };
    },
    reason: [
      'I became a barbarian because my devotion to my people lifted me in battle, making me powerful and dangerous',
      'I became a barbarian because the spirits of my ancestors called on me to carry out a great task',
      'I became a barbarian because I lost control in battle one day, and it was as if something else was manipulating my body forcing it to kill every foe I could reach',
      'I became a barbarian because I went on a spiritual journey to find myself and instead found a spirit animal to guide, protect, and inspire me',
      'I became a barbarian because I was struck by lighting and lived. Afterward, I found a new strength within me that let me push beyond my limitations',
      'I became a barbarian because my anger needed to be channeled into battle, or I risked becoming an indiscriminate killer',
    ],
  },
  {
    name: 'Bard',
    smartAssign: array => {
      const sorted = array.sort((a, b) => a > b);
      const results = [0, 0, 0, 0, 0, 0];
      results[5] = sorted.shift();
      results[1] = sorted.shift();
      const shuffled = shuffle(sorted);
      results[0] = shuffled.shift();
      results[2] = shuffled.shift();
      results[3] = shuffled.shift();
      results[4] = shuffled.shift();
      return {
        Strength: results[0],
        Dexterity: results[1],
        Constitution: results[2],
        Intelligence: results[3],
        Wisdom: results[4],
        Charisma: results[5],
      };
    },
    reason: [
      'I became a bard because I awakened my latent bardic abilities through trial and error',
      'I became a bard because I was a gifted performer and attracted the attention of a master bard who schooled me in the old techniques',
      'I became a bard because I joined a loose society of scholars and orators to learn new techniques of performance and magic',
      'I became a bard because I felt a calling to recount the deeds of champions and heroes, to bring them alive in song and story',
      'I became a bard because I joined one of the great colleges to learn old lore, the secrets of magic, and the art of performance',
      'I became a bard because I picked up a musical instrument one day and instantly discovered that I could play it',
    ],
  },
  {
    name: 'Cleric',
    smartAssign: array => {
      const sorted = array.sort((a, b) => a > b);
      const results = [0, 0, 0, 0, 0, 0];
      const orders = [
        [4, 0, 1, 2, 3, 5],
        [4, 2, 0, 1, 3, 5],
      ];
      const index = getRandomInt(0, orders.length);
      const order = orders[index].slice(0);
      results[order.shift()] = sorted.shift();
      results[order.shift()] = sorted.shift();
      const shuffled = shuffle(sorted);
      while (order.length > 0) {
        results[order.shift()] = shuffled.shift();
      }
      return {
        Strength: results[0],
        Dexterity: results[1],
        Constitution: results[2],
        Intelligence: results[3],
        Wisdom: results[4],
        Charisma: results[5],
      };
    },
    reason: [
      'I became a cleric because a supernatural being in service to the gods called me to become a divine agent in the world',
      'I became a cleric because I saw the injustice and horror in the world and felt moved to take a stand against them',
      'I became a cleric because my god gave me an unmistakable sign. I dropped everything to server the divine',
      'I became a cleric because although I was always devout, it wasn\'t until I completed a pilgrimage that I knew my true calling',
      'I became a cleric because I used to serve in my religion\'s bureaucracy but found I needed to work in the world, to bring the message of my faith to the darkest corners of the land',
      'I became a cleric because I realize that my god works through me, and I do as commanded, evne though I don\'t know why I was chosen to serve',
    ],
  },
  {
    name: 'Druid',
    smartAssign: array => {
      const sorted = array.sort((a, b) => a > b);
      const results = [0, 0, 0, 0, 0, 0];
      results[4] = sorted.shift();
      results[2] = sorted.shift();
      const shuffled = shuffle(sorted);
      results[0] = shuffled.shift();
      results[1] = shuffled.shift();
      results[3] = shuffled.shift();
      results[5] = shuffled.shift();
      return {
        Strength: results[0],
        Dexterity: results[1],
        Constitution: results[2],
        Intelligence: results[3],
        Wisdom: results[4],
        Charisma: results[5],
      };
    },
    reason: [
      'I became a druid because I saw too much devastation in the wild places, too much of nature\'s splendor ruined by the despoilers. I joined a circle of druids to fight back against the enemies of nature',
      'I became a druid because I found a place among a group of druids after I fled a catastrophe',
      'I became a druid because I have always had an affinity for animals, so I explored my talent to see how I could best use it',
      'I became a druid because I befriended a druid and was moved by druidic teachings. I decided to follow my firend\'s guidance and give something back to the world',
      'I became a druid because while I was growing up, I saw spirits all around me - entities no one else could perceive. I sought out the druids to help me understand the visions and communicate with these beings',
      'I became a druid because I have always felt disgust for creatures of unnatural origin. For this reason, I immersed myself in the study of the druidic mysteries and became a champion of the natural order',
    ],
  },
  {
    name: 'Fighter',
    smartAssign: array => {
      const sorted = array.sort((a, b) => a > b);
      const results = [0, 0, 0, 0, 0, 0];
      const orders = [
        [0, 2, 1, 3, 4, 5],
        [0, 3, 1, 2, 4, 5],
        [1, 2, 0, 3, 4, 5],
        [1, 3, 0, 2, 4, 5],
      ];
      const index = getRandomInt(0, orders.length);
      const order = orders[index].slice(0);
      results[order.shift()] = sorted.shift();
      results[order.shift()] = sorted.shift();
      const shuffled = shuffle(sorted);
      while (order.length > 0) {
        results[order.shift()] = shuffled.shift();
      }
      return {
        Strength: results[0],
        Dexterity: results[1],
        Constitution: results[2],
        Intelligence: results[3],
        Wisdom: results[4],
        Charisma: results[5],
      };
    },
    reason: [
      'I became a fighter because I wanted to hone my combat skills, and so I joined a war college',
      'I became a fighter because I squired for a knight who taught me how to fight, care for a steed, and conduct myself with honor. I decided to take up that path for myself',
      'I became a fighter because horrible monsters descended on my community killing someone I loved. I took up arms to destroy those creatures and others of a similar nature',
      'I became a fighter because I joined the army and learned how to fight as part of a group',
      'I became a fighter because I grew up fighting, and I refined my talents by defending myself against people who crossed me',
      'I became a fighter because I could always pick up just about any weapon and know how to use it effectively',
    ],
  },
  {
    name: 'Monk',
    smartAssign: array => {
      const sorted = array.sort((a, b) => a > b);
      const results = [0, 0, 0, 0, 0, 0];
      results[1] = sorted.shift();
      results[4] = sorted.shift();
      const shuffled = shuffle(sorted);
      results[0] = shuffled.shift();
      results[2] = shuffled.shift();
      results[3] = shuffled.shift();
      results[5] = shuffled.shift();
      return {
        Strength: results[0],
        Dexterity: results[1],
        Constitution: results[2],
        Intelligence: results[3],
        Wisdom: results[4],
        Charisma: results[5],
      };
    },
    reason: [
      'I became a monk because I was chosen to study at a secluded monastery. There, I was taught the fundamental techniques required to eventually mast a tradition',
      'I became a monk because I sought instruction to gain a deeper understanding of existence and my place in the world',
      'I became a monk because I stumbled into a portal to the Shadowfell and took refuge in a strange monastery, where I learned how to defend myself against the forces of darkness',
      'I became a monk because I was overwhelmed with grief after losing someone close to me, and I sought the advice of philosophers to help me cope with my loss',
      'I became a monk because I could feel that a special sort of pwoer lay within me, so I sought out those who could help me call it forth and master it',
      'I became a monk because I was wild and undisciplined as a youngster, but then I realized the error of my ways. I applied to a monastery and became a monk as a way to live a life of discipline',
    ],
  },
  {
    name: 'Paladin',
    smartAssign: array => {
      const sorted = array.sort((a, b) => a > b);
      const results = [0, 0, 0, 0, 0, 0];
      results[0] = sorted.shift();
      results[5] = sorted.shift();
      const shuffled = shuffle(sorted);
      results[1] = shuffled.shift();
      results[2] = shuffled.shift();
      results[3] = shuffled.shift();
      results[4] = shuffled.shift();
      return {
        Strength: results[0],
        Dexterity: results[1],
        Constitution: results[2],
        Intelligence: results[3],
        Wisdom: results[4],
        Charisma: results[5],
      };
    },
    reason: [
      'I became a paladin because a fantastical being appeared before me and called on me to undertake a holy quest',
      'I became a paladin because one of my ancestors left a holy quest unfulfilled so I intend to finish that work',
      'I became a paladin because the world is a dark and terrible place. I decided to serve as a beacon of light shining out against the gathering shadows',
      'I became a paladin because I served as a paladin\'s squire, learning all I needed to swear my own sacred oath',
      'I became a paladin because evil must be opposed on all fronts. I feel compelled to seek out wickedness and purge it from the world',
      'I became a paladin because becoming a paladin was a natural consqence of my unwavering faith. In taking my voces, I became the holy sword of my religion',
    ],
  },
  {
    name: 'Ranger',
    smartAssign: array => {
      const sorted = array.sort((a, b) => a > b);
      const results = [0, 0, 0, 0, 0, 0];
      const orders = [
        [0, 4, 1, 2, 3, 5],
        [1, 4, 0, 2, 3, 5],
      ];
      const index = getRandomInt(0, orders.length);
      const order = orders[index].slice(0);
      results[order.shift()] = sorted.shift();
      results[order.shift()] = sorted.shift();
      const shuffled = shuffle(sorted);
      while (order.length > 0) {
        results[order.shift()] = shuffled.shift();
      }
      return {
        Strength: results[0],
        Dexterity: results[1],
        Constitution: results[2],
        Intelligence: results[3],
        Wisdom: results[4],
        Charisma: results[5],
      };
    },
    reason: [
      'I became a ranger because I found purpose while I honed my hunting skills by bringing down dangerous animals at the edge of civilization',
      'I became a ranger because I always had a way with animals, able to calm them with a soothing word and a touch',
      'I became a ranger because I suffer from terrible wanderlust, so being a ranger gave me a reason not to remain in one place for too long',
      'I became a ranger because I have seen what happens when the monsters come out from the dark. I took it upon myself to become the first line of defense against the evils that lie beyond civilization\'s borders',
      'I became a ranger because I met a grizzled ranger who taught me woodcraft and the screts of the wild lands',
      'I became a ranger because I served in an army, learning the precepts of my prefession while blazing trails and socuting enemy encampements',
    ],
  },
  {
    name: 'Rogue',
    smartAssign: array => {
      const sorted = array.sort((a, b) => a > b);
      const results = [0, 0, 0, 0, 0, 0];
      const orders = [
        [1, 3, 0, 2, 4, 5],
        [1, 5, 0, 2, 3, 4],
      ];
      const index = getRandomInt(0, orders.length);
      const order = orders[index].slice(0);
      results[order.shift()] = sorted.shift();
      results[order.shift()] = sorted.shift();
      const shuffled = shuffle(sorted);
      while (order.length > 0) {
        results[order.shift()] = shuffled.shift();
      }
      return {
        Strength: results[0],
        Dexterity: results[1],
        Constitution: results[2],
        Intelligence: results[3],
        Wisdom: results[4],
        Charisma: results[5],
      };
    },
    reason: [
      'I became a rogue because I\'ve always been nimble and quick of wit, so I decided to use those talents to help me make my way in the world',
      'I became a rogue because an assassin or a thief wronged me, so I focused my training on mastering the skills of my enemy to better combat foes of that sort',
      'I became a rogue because an experience rogue saw something in me and taught me several useful tricks',
      'I became a rogue because I decided to turn my natural lucky streak into the basis of a career, though I still realize that impressing my skills is essential',
      'I became a rogue because I took up with a group of ruffians who showed me how to get what I want through sneakiness rather than direct confrontation',
      'I became a rogue because I\'m a sucker for a shiny bauble or a sack of coins, as long as I can get my hands on it without risking life and limb',
    ],
  },
  {
    name: 'Sorcerer',
    smartAssign: array => {
      const sorted = array.sort((a, b) => a > b);
      const results = [0, 0, 0, 0, 0, 0];
      results[5] = sorted.shift();
      results[2] = sorted.shift();
      const shuffled = shuffle(sorted);
      results[0] = shuffled.shift();
      results[1] = shuffled.shift();
      results[3] = shuffled.shift();
      results[4] = shuffled.shift();
      return {
        Strength: results[0],
        Dexterity: results[1],
        Constitution: results[2],
        Intelligence: results[3],
        Wisdom: results[4],
        Charisma: results[5],
      };
    },
    reason: [
      'I became a sorcerer because when I was born, all the water in the house froze solid, the milk spoiled, or all the iron turned to copper. My family is convinced that this event was a harbinger of stranger things to come for me',
      'I became a sorcerer because I suffered a terrible emotional or physical strain which brought forth my latent magical power. I have fought for control ever since',
      'I became a sorcerer because my immediate family never spoke of my ancestors and when I asked, they would change the subject. It wasn\'t until I started displaying strange talents that the full truth of my heritage came out',
      'I became a sorcerer because when a monster threatened one of my friends, I became filled with anxiety. I lashed out instinctively and blasted the wretched thing with a force that came from within me',
      'I became a sorcerer because sensing something special in me, a stranger taugh me how to control my gift',
      'I became a sorcerer because after I escaped from a magical conflagration, I realized that though I was unharmed, I was not unchanged. I began to exhibit unusual abilities that I am just beginning to understand',
    ],
  },
  {
    name: 'Warlock',
    smartAssign: array => {
      const sorted = array.sort((a, b) => a > b);
      const results = [0, 0, 0, 0, 0, 0];
      results[5] = sorted.shift();
      results[2] = sorted.shift();
      const shuffled = shuffle(sorted);
      results[0] = shuffled.shift();
      results[1] = shuffled.shift();
      results[3] = shuffled.shift();
      results[4] = shuffled.shift();
      return {
        Strength: results[0],
        Dexterity: results[1],
        Constitution: results[2],
        Intelligence: results[3],
        Wisdom: results[4],
        Charisma: results[5],
      };
    },
    reason: [
      'I became a warlock because while wandering around in a forbidden place, I encountered an otherworldy begin that offered to enter into a pact with me',
      'I became a warlock because I was examining a strange tome I found in an abandoned library when the entity that would become my patron suddenly appeared before me',
      'I became a warlock because I stumbled into the clutches of my patron after I accidentally stepped through a magical doorway',
      'I became a warlock because when I was faced with a terrible crisis, I prayed to any being who would listen, and the creature that answered became my patron',
      'I became a warlock because my future patron visited me in my dreams and offered great power in exchange for my service',
      'I became a warlock because one of my ancestors had a pact with my patron, so that entity was determined to bind me to the same agreement',
    ],
  },
  {
    name: 'Wizard',
    smartAssign: array => {
      const sorted = array.sort((a, b) => a > b);
      const results = [0, 0, 0, 0, 0, 0];
      const orders = [
        [3, 2, 0, 1, 4, 5],
        [3, 1, 0, 2, 4, 5],
        [3, 5, 0, 1, 2, 5],
      ];
      const index = getRandomInt(0, orders.length);
      const order = orders[index].slice(0);
      results[order.shift()] = sorted.shift();
      results[order.shift()] = sorted.shift();
      const shuffled = shuffle(sorted);
      while (order.length > 0) {
        results[order.shift()] = shuffled.shift();
      }
      return {
        Strength: results[0],
        Dexterity: results[1],
        Constitution: results[2],
        Intelligence: results[3],
        Wisdom: results[4],
        Charisma: results[5],
      };
    },
    reason: [
      'I became a wizard because an old wizard chose me from among several candidates to serve an apprenticeship',
      'I became a wizard because when I became lost in a forest, a hedge wizard found me, took me in, and taught me the rudiments of magic',
      'I became a wizard because I grew up listening to tales of great wizards and knew I wanted to follow their path. I strove to be accepted at an academy of magic and succeeded',
      'I became a wizard because one of my relatives was an accomplished wizard who decided I was smart enough to learn the craft',
      'I became a wizard because while exploring an old tomb, library, or temple, I found a spellbook. I was immediately driven to learn all I could about becominga wizard',
      'I became a wizard because I was a prodigy who demonstrated mastery of the arcane arts at an early age. When I became old enough to set out on my own, I did so to learn more magic and exapnd my power',
    ],
  },
];

function genBackstory(character) {
  const backstory = {};
  let rolled = getRandomInt(0, 100);
  // Gen parents
  if (rolled < 95) {
    backstory.parents = 'Known';
    if (character.Race.name === 'Half-Elf') {
      rolled = getRandomInt(0, 8);
      if (rolled < 5) {
        backstory.parents += ' - One elf, one human';
      } else if (rolled === 5) {
        backstory.parents += ' - One elf, one half-elf';
      } else if (rolled === 6) {
        backstory.parents += ' - One human, one half-elf';
      } else if (rolled === 7) {
        backstory.parents += ' - Both half-elf';
      }
    } else if (character.Race.name === 'Half-Orc') {
      rolled = getRandomInt(0, 8);
      if (rolled < 3) {
        backstory.parents += ' - One orc, one human';
      } else if (rolled < 5) {
        backstory.parents += ' - One orc, one half-orc';
      } else if (rolled < 7) {
        backstory.parents += ' - One human, one half-orc';
      } else {
        backstory.parents += ' - Both half-orc';
      }
    } else if (character.Race.name === 'Tiefling') {
      rolled = getRandomInt(0, 8);
      if (rolled < 4) {
        backstory.parents += ' - Both human, dormant infernal heritage';
      } else if (rolled < 6) {
        backstory.parents += ' - One tiefling, one human';
      } else if (rolled === 6) {
        backstory.parents += ' - One tiefling, one devil';
      } else {
        backstory.parents += ' - One human, one devil';
      }
    }
  } else {
    backstory.parents = 'Not Known';
  }

  // Gen Birthplace
  rolled = getRandomInt(0, 100);
  if (rolled < 50) {
    backstory.birthplace = 'Home';
  } else if (rolled < 55) {
    backstory.birthplace = 'Home of a family friend';
  } else if (rolled < 63) {
    backstory.birthplace = 'Home of a healer or midwife';
  } else if (rolled < 65) {
    backstory.birthplace = 'Carriage, cart or wagon';
  } else if (rolled < 68) {
    backstory.birthplace = 'Barn, shed or other outbuilding';
  } else if (rolled < 70) {
    backstory.birthplace = 'Cave';
  } else if (rolled < 72) {
    backstory.birthplace = 'Field';
  } else if (rolled < 74) {
    backstory.birthplace = 'Forest';
  } else if (rolled < 77) {
    backstory.birthplace = 'Temple';
  } else if (rolled < 78) {
    backstory.birthplace = 'Battlefield';
  } else if (rolled < 80) {
    backstory.birthplace = 'Alley or street';
  } else if (rolled < 82) {
    backstory.birthplace = 'Brothel, tavern, or inn';
  } else if (rolled < 84) {
    backstory.birthplace = 'Castle, keep, tower, or palace';
  } else if (rolled < 85) {
    backstory.birthplace = 'Sewer or rubbish heap';
  } else if (rolled < 88) {
    backstory.birthplace = 'Among people of a different race';
  } else if (rolled < 91) {
    backstory.birthplace = 'On board a boat or a ship';
  } else if (rolled < 93) {
    backstory.birthplace = 'In a prison or in the headquarters of a secret orginization';
  } else if (rolled < 95) {
    backstory.birthplace = 'In a sage\' laboratory';
  } else if (rolled < 96) {
    backstory.birthplace = 'In the Feywild';
  } else if (rolled < 97) {
    backstory.birthplace = 'In the Shadowfell';
  } else if (rolled < 98) {
    backstory.birthplace = 'On the Astral Plane or the Ethereal Plane';
  } else if (rolled < 99) {
    backstory.birthplace = 'On an Inner Plane of your choice';
  } else {
    backstory.birthplace = 'On an Outer Plane of your choice';
  }

  // Gen siblings
  rolled = getRandomInt(0, 10);
  let siblings;
  if (rolled < 2) {
    siblings = 0;
  } else if (rolled < 4) {
    siblings = getRandomInt(1, 4);
  } else if (rolled < 6) {
    siblings = getRandomInt(1, 5) + 1;
  } else if (rolled < 8) {
    siblings = getRandomInt(1, 7) + 2;
  } else if (rolled < 10) {
    siblings = getRandomInt(1, 9) + 3;
  }

  if (['Dwarf', 'Elf'].includes(character.Race.name)) {
    siblings -= 2;
  }

  if (siblings < 0) {
    siblings = 0;
  }

  backstory.siblings = [];
  for (let i = 0; i < siblings; i += 1) {
    const sibling = {};
    sibling.name = i;
    rolled = getRandomInt(1, 7) + getRandomInt(1, 7);
    if (rolled === 2) {
      sibling.order = 'Born at same time';
    } else if (rolled <= 7) {
      sibling.order = 'Older';
    } else {
      sibling.order = 'Younger';
    }

    // Relationship
    rolled = getRandomInt(1, 5) + getRandomInt(1, 5) + getRandomInt(1, 5);
    if (rolled < 4) {
      sibling.relationship = 'Hostile';
    } else if (rolled < 10) {
      sibling.relationship = 'Friendly';
    } else {
      sibling.relationship = 'Indifferent';
    }

    // Occupation
    rolled = getRandomInt(0, 100);
    if (rolled < 5) {
      sibling.occupation = 'Academic';
    } else if (rolled < 10) {
      sibling.occupation = 'Adventurer';
      // TODO: Decide class
    } else if (rolled < 11) {
      sibling.occupation = 'Aristocrat';
    } else if (rolled < 26) {
      sibling.occupation = 'Artisan or guild member';
    } else if (rolled < 31) {
      sibling.occupation = 'Criminal';
    } else if (rolled < 36) {
      sibling.occupation = 'Entertainment';
    } else if (rolled < 38) {
      sibling.occupation = 'Exile, hermit, or refugee';
    } else if (rolled < 43) {
      sibling.occupation = 'Explorer or wanderer';
    } else if (rolled < 55) {
      sibling.occupation = 'Farmer or herder';
    } else if (rolled < 60) {
      sibling.occupation = 'Hunter or trapper';
    } else if (rolled < 75) {
      sibling.occupation = 'Laborer';
    } else if (rolled < 80) {
      sibling.occupation = 'Merchant';
    } else if (rolled < 85) {
      sibling.occupation = 'Politician or bureaucrat';
    } else if (rolled < 90) {
      sibling.occupation = 'Priest';
    } else if (rolled < 95) {
      sibling.occupation = 'Sailor';
    } else {
      sibling.occupation = 'Soldier';
    }

    // Status
    rolled = getRandomInt(0, 7) + getRandomInt(0, 7) + getRandomInt(0, 7);
    if (rolled < 3) {
      sibling.status = 'Dead';
      // TODO: Cause of death
    } else if (rolled < 5) {
      sibling.status = 'Missing or unknown';
    } else if (rolled < 8) {
      sibling.status = 'Alive, but doing poorly due to injury, financial trouble, or relationship difficulties';
    } else if (rolled < 12) {
      sibling.status = 'Alive and well';
    } else if (rolled < 15) {
      sibling.status = 'Alive and quite successful';
    } else if (rolled < 17) {
      sibling.status = 'Alive and infamous';
    } else {
      sibling.status = 'Alive and famous';
    }

    backstory.siblings.push(sibling);
  }

  // Gen family
  // TODO: Include absent parent data
  rolled = getRandomInt(0, 100);
  if (rolled < 1) {
    backstory.family = 'None';
  } else if (rolled < 2) {
    backstory.family = 'Institution, such as an asylum';
  } else if (rolled < 3) {
    backstory.family = 'Temple';
  } else if (rolled < 5) {
    backstory.family = 'Orphanage';
  } else if (rolled < 7) {
    backstory.family = 'Guardian';
  } else if (rolled < 15) {
    backstory.family = 'Paternal or maternal aunt, uncle, or both; or extended family such as a tribe or clan';
  } else if (rolled < 25) {
    backstory.family = 'Paternal or maternal grandparent(s)';
  } else if (rolled < 35) {
    backstory.family = 'Adoptive family (same or different race)';
  } else if (rolled < 55) {
    backstory.family = 'Single father or stepfather';
  } else if (rolled < 75) {
    backstory.family = 'Single mother or stepmother';
  } else {
    backstory.family = 'Mother and father';
  }

  rolled = getRandomInt(1, 7) + getRandomInt(1, 7) + getRandomInt(1, 7);
  let modifier;
  if (rolled < 3) {
    backstory.lifestyle = 'Wretched';
    modifier = -40;
  } else if (rolled < 5) {
    backstory.lifestyle = 'Squalid';
    modifier = -20;
  } else if (rolled < 8) {
    backstory.lifestyle = 'Poor';
    modifier = -10;
  } else if (rolled < 12) {
    backstory.lifestyle = 'Modest';
    modifier = 0;
  } else if (rolled < 15) {
    backstory.lifestyle = 'Comfortable';
    modifier = 10;
  } else if (rolled < 17) {
    backstory.lifestyle = 'Wealthy';
    modifier = 20;
  } else {
    backstory.lifestyle = 'Aristocratic';
    modifier = 40;
  }

  rolled = getRandomInt(0, 100) + modifier;
  if (rolled < 0) {
    backstory.childhoodhome = 'On the streets';
  } else if (rolled < 20) {
    backstory.childhoodhome = 'Rundown shack';
  } else if (rolled < 30) {
    backstory.childhoodhome = 'No permanent residence, you moved around a lot';
  } else if (rolled < 40) {
    backstory.childhoodhome = 'Encampment or village in the wilderness';
  } else if (rolled < 50) {
    backstory.childhoodhome = 'Apartment in a rundown neighborhood';
  } else if (rolled < 70) {
    backstory.childhoodhome = 'Small house';
  } else if (rolled < 90) {
    backstory.childhoodhome = 'Large house';
  } else if (rolled < 110) {
    backstory.childhoodhome = 'Mansion';
  } else {
    backstory.childhoodhome = 'Palace or castle';
  }

  const chaMod = parseInt((character.AbilityScores.Charisma - 10) / 2, 10);
  rolled = getRandomInt(1, 7) + getRandomInt(1, 7) + getRandomInt(1, 7) + chaMod;
  if (rolled < 3) {
    backstory.memories = 'I am still haunted by my childhood, when I was treated badly by my peers.';
  } else if (rolled < 5) {
    backstory.memories = 'I spent most of my childhood alone, with no close friends.';
  } else if (rolled < 8) {
    backstory.memories = 'Others saw me as being different or strange and so I had few companions.';
  } else if (rolled < 12) {
    backstory.memories = 'I had a few close friends and lived an ordinary childhood.';
  } else if (rolled < 15) {
    backstory.memories = 'I have several friends, and my childhood was generally a happy one.';
  } else if (rolled < 17) {
    backstory.memories = 'I always found it easy to make friends, and I loved being around people.';
  } else {
    backstory.memories = 'Everyone knew who I was, and I had friends everywhere I went.';
  }

  backstory.reason = character.Class.reason[getRandomInt(0, character.Class.reason.length)];

  rolled = getRandomInt(0, 100);
  let events;
  let age;
  if (rolled < 20) {
    events = 1;
    age = getRandomInt(10, 21);
  } else if (rolled < 59) {
    events = getRandomInt(1, 5);
    age = getRandomInt(21, 31);
  } else if (rolled < 69) {
    events = getRandomInt(1, 7);
    age = getRandomInt(31, 41);
  } else if (rolled < 89) {
    events = getRandomInt(1, 9);
    age = getRandomInt(41, 51);
  } else if (rolled < 99) {
    events = getRandomInt(1, 11);
    age = getRandomInt(51, 61);
  } else {
    events = getRandomInt(1, 13);
    age = getRandomInt(61, character.Race.maxAge);
  }

  backstory.events = events;
  backstory.age = age;

  rolled = getRandomInt(1, 7) + getRandomInt(1, 7) + getRandomInt(1, 7);
  let alignment;
  if (rolled < 3) {
    if (getRandomInt(0, 2) === 0) {
      alignment = 'CE';
    } else {
      alignment = 'CN';
    }
  } else if (rolled < 5) {
    alignment = 'LE';
  } else if (rolled < 8) {
    alignment = 'NE';
  } else if (rolled < 12) {
    alignment = 'N';
  } else if (rolled < 15) {
    alignment = 'NG';
  } else if (rolled < 17) {
    if (getRandomInt(0, 2) === 0) {
      alignment = 'LG';
    } else {
      alignment = 'LN';
    }
  } else if (getRandomInt(0, 2) === 0) {
    alignment = 'CG';
  } else {
    alignment = 'CN';
  }

  backstory.alignment = alignment;

  return backstory;
}

const pointBuyArrays = [
  [15, 15, 15, 8, 8, 8],
  [15, 15, 14, 10, 8, 8],
  [15, 15, 14, 9, 9, 8],
  [15, 15, 13, 12, 8, 8],
  [15, 15, 13, 11, 9, 8],
  [15, 15, 13, 10, 10, 8],
  [15, 15, 13, 10, 9, 9],
  [15, 15, 12, 12, 9, 8],
  [15, 15, 12, 11, 10, 8],
  [15, 15, 12, 11, 9, 9],
  [15, 15, 12, 10, 10, 9],
  [15, 15, 11, 11, 11, 8],
  [15, 15, 11, 11, 10, 9],
  [15, 15, 11, 10, 10, 10],
  [15, 14, 14, 12, 8, 8],
  [15, 14, 14, 11, 9, 8],
  [15, 14, 14, 10, 10, 8],
  [15, 14, 14, 10, 9, 9],
  [15, 14, 13, 13, 9, 8],
  [15, 14, 13, 12, 10, 8],
  [15, 14, 13, 12, 9, 9],
  [15, 14, 13, 11, 11, 8],
  [15, 14, 13, 11, 10, 9],
  [15, 14, 13, 10, 10, 10],
  [15, 14, 12, 12, 11, 8],
  [15, 14, 12, 12, 10, 9],
  [15, 14, 12, 11, 11, 9],
  [15, 14, 12, 11, 10, 10],
  [15, 14, 11, 11, 11, 10],
  [15, 13, 13, 13, 11, 8],
  [15, 13, 13, 13, 10, 9],
  [15, 13, 13, 12, 12, 8],
  [15, 13, 13, 12, 11, 9],
  [15, 13, 13, 12, 10, 10],
  [15, 13, 13, 11, 11, 10],
  [15, 13, 12, 12, 12, 9],
  [15, 13, 12, 12, 11, 10],
  [15, 13, 12, 11, 11, 11],
  [15, 12, 12, 12, 12, 10],
  [15, 12, 12, 12, 11, 11],
  [14, 14, 14, 13, 9, 8],
  [14, 14, 14, 12, 10, 8],
  [14, 14, 14, 12, 9, 9],
  [14, 14, 14, 11, 11, 8],
  [14, 14, 14, 11, 10, 9],
  [14, 14, 14, 10, 10, 10],
  [14, 14, 13, 13, 11, 8],
  [14, 14, 13, 13, 10, 9],
  [14, 14, 13, 12, 12, 8],
  [14, 14, 13, 12, 11, 9],
  [14, 14, 13, 12, 10, 10],
  [14, 14, 13, 11, 11, 10],
  [14, 14, 12, 12, 12, 9],
  [14, 14, 12, 12, 11, 10],
  [14, 14, 12, 11, 11, 11],
  [14, 13, 13, 13, 13, 8],
  [14, 13, 13, 13, 12, 9],
  [14, 13, 13, 13, 11, 10],
  [14, 13, 13, 12, 12, 10],
  [14, 13, 13, 12, 11, 11],
  [14, 13, 12, 12, 12, 11],
  [14, 12, 12, 12, 12, 12],
  [13, 13, 13, 13, 13, 10],
  [13, 13, 13, 13, 12, 11],
  [13, 13, 13, 12, 12, 12],
];

function getPointBuyArray() {
  return pointBuyArrays[getRandomInt(0, pointBuyArrays.length)].slice(0);
}

function getRolledArray() {
  const output = [];
  for (let i = 0; i < 6; i += 1) {
    output.push(rollDice());
  }
  return output;
}

function randomAssign(array) {
  const randArray = shuffle(array);
  return {
    Strength: randArray[0],
    Dexterity: randArray[1],
    Constitution: randArray[2],
    Intelligence: randArray[3],
    Wisdom: randArray[4],
    Charisma: randArray[5],
  };
}

const asEnum = {
  0: 'Strength',
  1: 'Dexterity',
  2: 'Constitution',
  3: 'Intelligence',
  4: 'Wisdom',
  5: 'Charisma',
};

export default {
  name: 'CharacterCreator',
  data() {
    return {
      pageTitle: 'CharacterCreator',
      doPointBuy: true,
      doSmartAssign: true,
      character: {
        Name: '',
        Race: '',
        Subrace: { name: '' },
        Class: '',
        AbilityScores: {
          Strength: 8,
          Dexterity: 8,
          Constitution: 8,
          Intelligence: 8,
          Wisdom: 8,
          Charisma: 8,
        },
        backstory: {
          parents: '',
          birthplace: '',
          siblings: [],
          birthOrder: '',
          family: '',
        },
      },
    };
  },
  methods: {
    gen() {
      // Generate Character
      const randomRace = races[getRandomInt(0, races.length)];
      const randomClass = classes[getRandomInt(0, classes.length)];
      this.character.Race = randomRace;
      this.character.Subrace = randomRace.subrace[0][getRandomInt(0, randomRace.subrace[0].length)];
      this.character.Class = randomClass;
      this.character.Name = getName(randomRace);
      let array;
      if (this.doPointBuy) {
        array = getPointBuyArray();
      } else {
        array = getRolledArray();
      }

      if (this.doSmartAssign) {
        this.character.AbilityScores = randomClass.smartAssign(array);
      } else {
        this.character.AbilityScores = randomAssign(array);
      }

      console.log('Before', JSON.stringify(this.character.AbilityScores));

      // Apply racial bonus
      if (!['Human', 'Half-Elf'].includes(randomRace.name)) {
        const bonus = this.character.Subrace.bonus.slice(0);
        while (bonus.length > 0) {
          const current = bonus.shift();
          this.character.AbilityScores[asEnum[current[0]]] += current[1];
        }
      } else if (randomRace.name === 'Human') {
        if (this.character.Subrace.name.length > 0) {
          // Variant
          const first = getRandomInt(0, 6);
          let second;
          do {
            second = getRandomInt(0, 6);
          } while (second === first);

          this.character.AbilityScores[asEnum[first]] += 1;
          this.character.AbilityScores[asEnum[second]] += 1;
        } else {
          // Normal
          const keys = Object.keys(this.character.AbilityScores);
          for (let i = 0; i < keys.length; i += 1) {
            const ability = keys[i];
            this.character.AbilityScores[ability] += 1;
          }
        }
      } else {
        // Half elf
        let first;
        do {
          first = getRandomInt(0, 6);
        } while (first === 5);
        let second;
        do {
          second = getRandomInt(0, 6);
        } while (second === first || second === 5);

        this.character.AbilityScores[asEnum[first]] += 1;
        this.character.AbilityScores[asEnum[second]] += 1;
        this.character.AbilityScores.Charisma += 2;
      }

      console.log('After', JSON.stringify(this.character.AbilityScores));

      this.character.backstory = genBackstory(this.character);
    },
  },
  mounted() {
    this.gen();
  },
};
</script>

<style lang="scss" scoped>
.sibling {
  display: block;
  width: 100%;
}

.item {
  .title {
    display: inline-block;
  }
  .title::after {
    content: ':';
  }
  .data {
    display: inline-block;
  }
}

.name {
  font-weight: bold;
  text-align: center;
}
</style>
