<template>
  <v-container fluid>
    <v-btn
      v-for="(c, index) in classes"
      :key="index"
      block
      class="red"
      @click="$router.push(`/classes${c.Route}`)"
      :disabled="c.soon">
      <v-icon>{{c.Icon}}</v-icon>
    {{c.Name}}
    </v-btn>
  </v-container>
</template>

<script>

export default {
  name: 'Classes',
  components: {
  },
  data() {
    return {
      pageTitle: 'Classes',
      classes: [
        {
          Name: 'Barbarian',
          Route: '/barbarian',
          Icon: 'fas fa-angry',
          soon: true,
        },
        {
          Name: 'Bard',
          Route: '/bard',
          Icon: 'fas fa-guitar',
          soon: true,
        },
        {
          Name: 'Cleric',
          Route: '/cleric',
          Icon: 'fas fa-praying-hands',
          soon: true,
        },
        {
          Name: 'Druid',
          Route: '/druid',
          Icon: 'fas fa-paw',
        },
        {
          Name: 'Fighter',
          Route: '/fighter',
          Icon: 'fas fa-chess-knight',
          soon: true,
        },
        {
          Name: 'Monk',
          Route: '/monk',
          Icon: 'fas fa-fist-raised',
          soon: true,
        },
        {
          Name: 'Paladin',
          Route: '/paladin',
          Icon: 'fas fa-shield-alt',
          soon: true,
        },
        {
          Name: 'Ranger',
          Route: '/ranger',
          Icon: 'fas fa-compass',
          soon: true,
        },
        {
          Name: 'Rogue',
          Route: '/rogue',
          Icon: 'fas fa-mask',
          soon: true,
        },
        {
          Name: 'Sorcerer',
          Route: '/sorcerer',
          Icon: 'fas fa-bolt',
          soon: true,
        },
        {
          Name: 'Warlock',
          Route: '/warlock',
          Icon: 'fas fa-crow',
          soon: true,
        },
        {
          Name: 'Wizard',
          Route: '/wizard',
          Icon: 'fas fa-hat-wizard',
          soon: true,
        },
      ],
    };
  },
  mounted() {
    this.$root.$data.get('/monsters', (e, r, b) => {
      this.creatures = JSON.parse(b);
    });
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
  .v-icon {
    position: absolute;
    left: 0;
    float:left;
    width: 1em;
    text-align: center;
  }
</style>
