<template>
  <v-container fluid>
    <h5>Druid - Wildshape Options</h5>
    <v-layout
      align-center
      justify-space-around
      row
      class="col-inputs"
    >
      <v-flex xs12 sm6 md3>
        <v-text-field
          label="Druid Level"
          type="number"
          min="2"
          v-model="level"
        ></v-text-field>
      </v-flex>
      <v-flex xs12 sm6 md3>
        <v-checkbox
          v-model="isMoonCircle"
          :label="`Circle of the Moon?`"
        ></v-checkbox>
      </v-flex>
    </v-layout>
    <MonsterList :filterFunction="filterFunction"></MonsterList>
  </v-container>
</template>

<script>
import MonsterList from '../components/MonsterList';

export default {
  name: 'Druid',
  components: {
    MonsterList,
  },
  data() {
    return {
      pageTitle: 'Druid',
      creatures: [],
      creatureSearch: '',
      dialog: false,
      creature: null,
      headers: [
        {
          sortable: false,
        },
        {
          text: 'Creature',
          align: 'left',
          value: 'Name',
        },
        {
          text: 'CR',
          value: 'CR',
        },
        {
          text: 'Type',
          value: 'Type',
        },
        {
          text: 'Size',
          value: 'Size',
        },
        {
          text: 'Source',
          value: 'Source',
        },
        {
          text: 'Alignment',
          value: 'Alignment',
        },
        {
          text: 'Movement',
          value: 'Movement',
        },
      ],
      druidFilterFunctions: {
        all_circle: {
          2: creature => creature.Type === 'Beast'
            && !creature.Movement.includes('s')
            && !creature.Movement.includes('f')
            && [0, 0.12, 0.25].includes(creature.CR),
          4: creature => creature.Type === 'Beast'
            && !creature.Movement.includes('f')
            && [0, 0.12, 0.25, 0.5].includes(creature.CR),
          8: creature => creature.Type === 'Beast'
            && [0, 0.12, 0.25, 0.5, 1].includes(creature.CR),
        },
        circle_moon: {
          2: creature => creature.Type === 'Beast'
            && !creature.Movement.includes('s')
            && !creature.Movement.includes('f')
            && [0, 0.12, 0.25, 0.5, 1].includes(creature.CR),
          6: creature => creature.Type === 'Beast'
            && !creature.Movement.includes('f')
            && creature.CR <= (this.level / 3),
          8: creature => creature.Type === 'Beast'
            && creature.CR <= (this.level / 3),
          10: creature => (creature.Type === 'Beast'
            && (creature.CR <= (this.level / 3)))
            || ['Air Elemental', 'Earth Elemental', 'Fire Elemental', 'Water Elemental'].includes(creature.Name),
        },
      },
      isMoonCircle: false,
      level: 2,
    };
  },
  computed: {
    filterFunction() {
      let { level } = this;
      if (level === 1) {
        return () => false;
      }
      if (this.isMoonCircle) {
        if (level <= 2) {
          level = 2;
        } else
        if (level >= 6 && level < 8) {
          level = 6;
        } else if (level < 10) {
          level = 8;
        } else {
          level = 10;
        }
        return this.druidFilterFunctions.circle_moon[level];
      }
      if (level <= 2) {
        level = 2;
      } else if (level < 8) {
        level = 4;
      } else {
        level = 8;
      }
      return this.druidFilterFunctions.all_circle[level];
    },
  },
  methods: {
    filterMoves(moves) {
      const output = [];
      // eslint-disable-next-line
      for (const m of moves) {
        let move = '';
        switch (m) {
          case 'f':
            move = 'Flying';
            break;
          case 's':
            move = 'Swimming';
            break;
          case 'c':
            move = 'Climbing';
            break;
          case 'b':
            move = 'Burrowing';
            break;
          default:
            move = m;
            break;
        }
        output.push(move);
      }
      return output.join(', ');
    },
    formatSource(src) {
      const data = src.toUpperCase().split(' ');
      let res = '';
      switch (data[0]) {
        case 'MM':
          res = 'Monster Manual';
          break;
        case 'MTF':
          res = 'Mordenkainen\'s Tome of Foes';
          break;
        case 'VGM':
          res = 'Volo\'s Guide to Monsters';
          break;
        default:
          [res] = data;
          break;
      }

      return `${res} (pg. ${data[1]})`;
    },
  },
  mounted() {
    this.$root.$data.get('/monsters', (e, r, b) => {
      this.creatures = JSON.parse(b);
    });
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

.col-inputs {
  position: relative;
  padding-right: 1em;
  padding-left: 1em;
  .flex:first-of-type {
    margin-right: 1em;
  }
  .flex:last-of-type {
    margin-left: 1em;
  }
}
</style>
