<template>
  <div>
    <h5>{{pageTitle}}</h5>
    <v-container class="body">
      <v-container fluid class="config">
        <div class="player-levels-container">
          <v-layout
            align-center
            justify-space-around
            row
            fill-height
            class="player-levels"
            v-for="(player, index) in players"
            :key="index"
          >
            <v-flex xs12 sm6 d-flex>
              <v-text-field
                v-model="player.count"
                label="# Players"
                type="number"
              >
              </v-text-field>
            </v-flex>
            <v-flex xs12 sm6 d-flex>
              <v-select
                :items="levels"
                label="Level"
                v-model="player.level"
              >
              </v-select>
            </v-flex>
            <div class="bin flex xs12 sm6 d-flex">
              <v-icon v-if="index != 0"
                @click="removePlayer(index)">fas fa-trash</v-icon>
            </div>
          </v-layout>
        </div>
        <v-btn color="red" @click="addPlayer">+</v-btn>
        <hr>
        <h3>Budget</h3>
        <v-layout
          align-center
          justify-space-around
          row
          fill-height
          class="calc-values">
          <div>
            <div>Daily</div>
            <div>{{budget}}xp</div>
          </div>
        </v-layout>

        <v-layout
          align-center
          justify-space-around
          row
          fill-height
          class="calc-values">
          <div>
            <div>Easy</div>
            <div>{{easy}}xp</div>
          </div>
          <div>
            <div>Medium</div>
            <div>{{medium}}xp</div>
          </div>
          <div>
            <div>Hard</div>
            <div>{{hard}}xp</div>
          </div>
          <div>
            <div>Deadly</div>
            <div>{{deadly}}xp</div>
          </div>
        </v-layout>
        <hr>
        <h3>Encounter</h3>
        <div class="player-levels-container">
          <v-layout
            align-center
            justify-space-around
            row
            fill-height
            class="player-levels"
            v-for="(creature, index) in activeCreatures"
            :key="'c' + index"
          >
            <v-flex xs9 sm9 d-flex>
              <div class="creature">
                <div class="c-name">{{creature.Name}}</div>
                <div class="c-info">
                  CR: {{ creature.CR }} | XP: {{getCRObject(creature.CR).xp}}</div>
                <div class="c-src">{{formatSource(creature.Source)}}</div>
              </div>
            </v-flex>
            <v-flex xs3 sm3 d-flex>
              <v-text-field
                v-model="creature.count"
                label="#"
                type="number"
              >
              </v-text-field>
            </v-flex>
            <div class="bin flex xs12 sm6 d-flex">
              <v-icon @click="removeCreature(index)">fas fa-trash</v-icon>
            </div>
          </v-layout>
        </div>
        <hr>

        <v-layout
          align-center
          justify-space-around
          row
          fill-height
          class="calc-values">
          <div>
            <div>Total XP</div>
            <div>{{totalXp}}xp</div>
          </div>
          <div>
            <div>XP per Player</div>
            <div>{{sharedXp}}xp</div>
          </div>
          <div>
            <div>Budget Cost</div>
            <div>{{encounterCost}}xp</div>
          </div>
        </v-layout>
        <hr>
        <h3>Difficulty: {{ difficulty }}</h3>
        <hr>
      </v-container>
      <MonsterList class="monster-list" :add="addCreature"></MonsterList>
    </v-container>
  </div>
</template>

<script>
import MonsterList from '../components/MonsterList';

export default {
  name: 'EncounterCalculator',
  components: {
    MonsterList,
  },
  computed: {
    easy() {
      return this.players.reduce((a, b) => a
        + this.thresholds[b.level].easy
        * b.count, 0);
    },
    medium() {
      return this.players.reduce((a, b) => a
        + this.thresholds[b.level].medium
        * b.count, 0);
    },
    hard() {
      return this.players.reduce((a, b) => a
        + this.thresholds[b.level].hard
        * b.count, 0);
    },
    deadly() {
      return this.players.reduce((a, b) => a
        + this.thresholds[b.level].deadly
        * b.count, 0);
    },
    budget() {
      return this.players.reduce((a, b) => a
        + this.thresholds[b.level].budget
        * b.count, 0);
    },
    totalXp() {
      return this.activeCreatures.reduce((a, b) => a
        + this.crs.find(c => c.cr === b.CR).xp
        * b.count, 0);
    },
    encounterCost() {
      const combatants = this.activeCreatures
        .reduce((a, b) => a + parseInt(b.count, 10), 0);
      const { multi } = this.multi.find(
        m => m.range.min <= combatants && m.range.max >= combatants,
      );
      return this.totalXp * multi;
    },
    difficulty() {
      if (this.totalXp < this.easy) {
        return 'Trivial';
      }
      if (this.totalXp < this.medium) {
        return 'Easy';
      }
      if (this.totalXp < this.hard) {
        return 'Medium';
      }
      if (this.totalXp < this.deadly) {
        return 'Hard';
      }
      return 'Deadly';
    },
    sharedXp() {
      const players = this.players
        .reduce((a, b) => a + parseInt(b.count, 10), 0);
      return Math.floor(this.totalXp / players);
    },
  },
  data() {
    return {
      pageTitle: 'Encounter Calculator',
      players: [{ count: 4, level: 1 }],
      activeCreatures: [],
      creatureSearch: '',
      levels: [
        1,
        2,
        3,
        4,
        5,
        6,
        7,
        8,
        9,
        10,
        11,
        12,
        13,
        14,
        15,
        16,
        17,
        18,
        19,
        20,
      ],
      thresholds: {
        1: {
          easy: 25,
          medium: 50,
          hard: 75,
          deadly: 100,
          budget: 300,
        },
        2: {
          easy: 50,
          medium: 100,
          hard: 150,
          deadly: 200,
          budget: 600,
        },
        3: {
          easy: 75,
          medium: 150,
          hard: 225,
          deadly: 400,
          budget: 1200,
        },
        4: {
          easy: 125,
          medium: 250,
          hard: 375,
          deadly: 500,
          budget: 1700,
        },
        5: {
          easy: 250,
          medium: 500,
          hard: 750,
          deadly: 1100,
          budget: 3500,
        },
        6: {
          easy: 300,
          medium: 600,
          hard: 900,
          deadly: 1400,
          budget: 4000,
        },
        7: {
          easy: 350,
          medium: 750,
          hard: 1100,
          deadly: 1700,
          budget: 5000,
        },
        8: {
          easy: 450,
          medium: 900,
          hard: 1400,
          deadly: 2100,
          budget: 6000,
        },
        9: {
          easy: 550,
          medium: 1100,
          hard: 1600,
          deadly: 2400,
          budget: 7500,
        },
        10: {
          easy: 600,
          medium: 1200,
          hard: 1900,
          deadly: 2800,
          budget: 9000,
        },
        11: {
          easy: 800,
          medium: 1600,
          hard: 2400,
          deadly: 3600,
          budget: 10500,
        },
        12: {
          easy: 1000,
          medium: 2000,
          hard: 3000,
          deadly: 4500,
          budget: 11500,
        },
        13: {
          easy: 1100,
          medium: 2200,
          hard: 3400,
          deadly: 5100,
          budget: 13500,
        },
        14: {
          easy: 1250,
          medium: 2500,
          hard: 3800,
          deadly: 5700,
          budget: 15000,
        },
        15: {
          easy: 1400,
          medium: 2800,
          hard: 4300,
          deadly: 6400,
          budget: 18000,
        },
        16: {
          easy: 1600,
          medium: 3200,
          hard: 4800,
          deadly: 7200,
          budget: 20000,
        },
        17: {
          easy: 2000,
          medium: 3900,
          hard: 5900,
          deadly: 8800,
          budget: 25000,
        },
        18: {
          easy: 2100,
          medium: 4200,
          hard: 6300,
          deadly: 9500,
          budget: 27000,
        },
        19: {
          easy: 2400,
          medium: 4900,
          hard: 7300,
          deadly: 10900,
          budget: 30000,
        },
        20: {
          easy: 2800,
          medium: 5700,
          hard: 8500,
          deadly: 12700,
          budget: 40000,
        },
      },
      crs: [
        {
          xp: 10,
          cr: '0',
        },
        {
          xp: 25,
          cr: '1/8',
        },
        {
          xp: 50,
          cr: '1/4',
        },
        {
          xp: 100,
          cr: '1/2',
        },
        {
          xp: 200,
          cr: '1',
        },
        {
          xp: 450,
          cr: '2',
        },
        {
          xp: 700,
          cr: '3',
        },
        {
          xp: 1100,
          cr: '4',
        },
        {
          xp: 1800,
          cr: '5',
        },
        {
          xp: 2300,
          cr: '6',
        },
        {
          xp: 2900,
          cr: '7',
        },
        {
          xp: 3900,
          cr: '8',
        },
        {
          xp: 5000,
          cr: '9',
        },
        {
          xp: 5900,
          cr: '10',
        },
        {
          xp: 7200,
          cr: '11',
        },
        {
          xp: 8400,
          cr: '12',
        },
        {
          xp: 10000,
          cr: '13',
        },
        {
          xp: 11500,
          cr: '14',
        },
        {
          xp: 13000,
          cr: '15',
        },
        {
          xp: 15000,
          cr: '16',
        },
        {
          xp: 18000,
          cr: '17',
        },
        {
          xp: 20000,
          cr: '18',
        },
        {
          xp: 22000,
          cr: '19',
        },
        {
          xp: 25000,
          cr: '20',
        },
        {
          xp: 33000,
          cr: '21',
        },
        {
          xp: 41000,
          cr: '22',
        },
        {
          xp: 50000,
          cr: '23',
        },
        {
          xp: 62000,
          cr: '24',
        },
        {
          xp: 75000,
          cr: '25',
        },
        {
          xp: 90000,
          cr: '26',
        },
        {
          xp: 105000,
          cr: '27',
        },
        {
          xp: 120000,
          cr: '28',
        },
        {
          xp: 135000,
          cr: '29',
        },
        {
          xp: 155000,
          cr: '30',
        },
      ],
      multi: [
        {
          range: {
            min: 0,
            max: 0,
          },
          multi: 0,
        },
        {
          range: {
            min: 1,
            max: 1,
          },
          multi: 1,
        },
        {
          range: {
            min: 2,
            max: 2,
          },
          multi: 1.5,
        },
        {
          range: {
            min: 3,
            max: 6,
          },
          multi: 2,
        },
        {
          range: {
            min: 7,
            max: 10,
          },
          multi: 2.5,
        },
        {
          range: {
            min: 11,
            max: 14,
          },
          multi: 3,
        },
        {
          range: {
            min: 15,
            max: Number.MAX_SAFE_INTEGER,
          },
          multi: 4,
        },
      ],
      creatures: [],
      headers: [
        {
          sortable: false,
        },
        {
          text: 'Creature',
          align: 'left',
          value: 'Name',
        },
        {
          text: 'CR',
          value: 'CR',
        },
        {
          text: 'Type',
          value: 'Type',
        },
        {
          text: 'Size',
          value: 'Size',
        },
        {
          text: 'Source',
          value: 'Source',
        },
        {
          text: 'Alignment',
          value: 'Alignment',
        },
      ],
    };
  },
  methods: {
    formatSource(src) {
      const data = src.toUpperCase().split(' ');
      let res = '';
      switch (data[0]) {
        case 'MM':
          res = 'Monster Manual';
          break;
        case 'MTF':
          res = 'Mordenkainen\'s Tome of Foes';
          break;
        case 'VGM':
          res = 'Volo\'s Guide to Monsters';
          break;
        default:
          [res] = data;
          break;
      }

      return `${res} (pg. ${data[1]})`;
    },
    getCRObject(cr) {
      return this.crs.find(c => c.cr === cr);
    },
    addPlayer() {
      this.players.push({ count: 4, level: 1 });
    },
    removePlayer(index) {
      this.players.splice(index, 1);
    },
    addCreature(name) {
      const creature = this.creatures.find(c => c.Name === name);
      const index = this.activeCreatures
        .indexOf(this.activeCreatures
          .find(c => c.Name === name));
      if (index !== -1) {
        this.activeCreatures[index].count += 1;
      } else {
        this.activeCreatures.push({ count: 1, ...creature });
      }
    },
    removeCreature(index) {
      this.activeCreatures.splice(index, 1);
    },
  },
  mounted() {
    this.$root.$data.get('/monsters', (e, r, b) => {
      this.creatures = JSON.parse(b);
    });
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
  .player-levels-container {
    max-height: 6em;
    overflow-y: auto;
  }
@media only screen and (min-width: 960px) {
  .body {
    display: inline-flex;
  }
  .config {
    max-width: 30%;
  }
  .monster-list {
    max-width: 70%;
  }
  .player-levels-container {
    max-height: 13em;
    overflow-y: auto;
  }
}

.config {
  margin-top: 0;
}

.calc-values {
  font-size: 0.75em;
  div {
    div:first-of-type {
      font-weight: bold;
    }
  }
}

.player-levels {
  position: relative;
  padding-right: 1.5em;
  .flex:first-of-type {
    margin-right: 1.5em;
  }
  .flex:last-of-type {
    margin-left: 1.5em;
  }
  .bin {
    position: absolute;
    margin: 0 auto;
    right: 0.5em;
    i {
      font-size: .75em;
    }
  }
}

.creature {
  text-align: left;
  .c-info {
    font-size: 0.6em;
  }
  .c-src {
    font-size: 0.6em;
  }
}

.monster-list {
  margin-top: 0;
}
</style>
