<template>
  <v-container>
    <h2 class="headline">Welcome to <b>Haversack<span class="sub-text">Helper</span>!</b></h2>
    <div class="main-text">
      This site is a collection of useful tools to help Game Masters and Players
      with running/playing Dungeons & Dragons 5th Edition
    </div>
    <v-container  grid-list-md>
      <v-layout wrap>
        <v-flex xs12 md6>
          <v-item>
            <v-card class="mt-2"
              height="200">
              <v-card-title>
                <h3 class="headline">Playing a Druid?</h3>
              </v-card-title>
              <v-card-text>
                Try out the wild shape options tool. This tool lets your see all the
                creatures you can wild shape into based on your level and circle!
              </v-card-text>
              <v-card-actions>
                <v-btn class="red" block
                  @click="$router.push('/classes/druid')">Druid Wild Shape Options</v-btn>
              </v-card-actions>
            </v-card>
          </v-item>
        </v-flex>
        <v-flex xs12 md6>
          <v-item>
            <v-card class="mt-2"
              height="200">
              <v-card-title>
                <h3 class="headline">Need help calculating XP?</h3>
              </v-card-title>
              <v-card-text>
                Try out the encounter calculator!It can help you budget your encounters
                by XP too.
              </v-card-text>
              <v-card-actions>
                <v-btn class="red" block
                  @click="$router.push('/encounter-calculator')">Encounter Calculator</v-btn>
              </v-card-actions>
            </v-card>
          </v-item>
        </v-flex>
        <v-flex xs12 md6>
          <v-item>
            <v-card class="mt-2"
              height="200">
              <v-card-title>
                <h3 class="headline">Want a random character?</h3>
              </v-card-title>
              <v-card-text>
                Try out the character generator!
              </v-card-text>
              <v-card-actions>
                <v-btn class="red" block
                  @click="$router.push('/character-creator')">Character Creator</v-btn>
              </v-card-actions>
            </v-card>
          </v-item>
        </v-flex>
      </v-layout>
    </v-container>
  </v-container>
</template>

<script>
export default {
  name: 'Home',
  data() {
    return {
      pageTitle: 'Home',
    };
  },
  mounted() {
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.main-text {
  margin-top: 2em;
}

.v-card {
  position:relative;
  .v-card__text {
    font-size: 0.9em;
  }
  .v-card__actions {
    bottom: 0;
    position: absolute;
    width: 100%;
  }
}

@media only screen and (max-width: 960px){
  .v-card {
    position:relative;
    .v-card__text {
      font-size: 0.7em;
    }
    .v-card__actions {
      bottom: 0;
      position: absolute;
      width: 100%;
    }
  }
}
</style>
