<template>
  <v-container>
    {{pageTitle}}
    <MonsterList></MonsterList>
  </v-container>
</template>

<script>
import MonsterList from '../components/MonsterList';

export default {
  name: 'Monsters',
  components: {
    MonsterList,
  },
  data() {
    return {
      pageTitle: 'Monsters',
    };
  },
  methods: {},
  mounted() {},
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
</style>
