<template>
  <div>
    {{pageTitle}}
  </div>
</template>

<script>
export default {
  name: 'Spells',
  data() {
    return {
      pageTitle: 'Spells',
    };
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
</style>
