<template>
  <v-container fluid>
      <v-dialog
        v-model="dialog"
        width="500"
      >
        <Monster :creature="creature"></Monster>
      </v-dialog>
      <v-text-field
        v-model="creatureSearch"
        append-icon="fas fa-search"
        label="Search"
      ></v-text-field>
      <v-expansion-panel>
        <v-expansion-panel-content>
          <template v-slot:header>
            <div>Filters</div>
          </template>
          <v-card>
            <v-card-text>
              <v-container fluid class="filter-row">
                <v-flex xs4 sm4 d-flex>
                  <v-select
                    :items="types"
                    label="Type"
                    v-model="filter.type"
                  >
                  </v-select>
                </v-flex>
                <v-flex xs4 sm4 d-flex>
                  <v-select
                    :items="crs"
                    item-text="text"
                    item-value="value"
                    label="Min. CR"
                    v-model="filter.cr.min"
                  >
                  </v-select>
                </v-flex>
                <v-flex xs4 sm4 d-flex>
                  <v-select
                    :items="crs"
                    item-text="text"
                    item-value="value"
                    label="Max. CR"
                    v-model="filter.cr.max"
                  >
                  </v-select>
                </v-flex>
              </v-container>
              <v-container fluid class="filter-row">
                <v-flex xs4 sm4 d-flex>
                  <v-select
                    :items="sizes"
                    label="Size"
                    v-model="filter.size"
                  >
                  </v-select>
                </v-flex>
                <v-flex xs4 sm4 d-flex>
                  <v-select
                    :items="movement"
                    label="Movement"
                    v-model="filter.movement"
                  >
                  </v-select>
                </v-flex>
                <v-flex xs4 sm4 d-flex>
                  <v-select
                    :items="sources"
                    label="Source"
                    v-model="filter.source"
                  >
                  </v-select>
                </v-flex>
              </v-container>
            </v-card-text>
          </v-card>
        </v-expansion-panel-content>
      </v-expansion-panel>
      <v-data-table
        :headers="headers"
        :items="filteredCreatures"
        :search="creatureSearch"
        :rows-per-page-items="[10, 25, 50, 100,
          {'text':'$vuetify.dataIterator.rowsPerPageAll','value':-1}]"
      >
        <template v-slot:items="props">
          <td class="btn-col">
            <v-icon @click="dialog = true; creature = props.item">far fa-eye</v-icon>
            <v-icon v-if="add" @click="add(props.item.Name)">fas fa-plus</v-icon>
          </td>
          <td class="text-xs-left">{{ props.item.Name }}</td>
          <td class="text-xs-left">{{ filterCR(props.item.CR) }}</td>
          <td class="text-xs-left">{{ props.item.Type }}</td>
          <td class="text-xs-left">{{ props.item.Size }}</td>
          <td class="text-xs-left">{{ formatSource(props.item.Source) }}</td>
          <td class="text-xs-left">{{ props.item.Alignment }}</td>
          <td class="text-xs-left">{{ filterMoves(props.item.Movement) }}</td>
        </template>
      </v-data-table>
  </v-container>
</template>

<script>
import Monster from './Monster';

export default {
  name: 'MonsterList',
  components: {
    Monster,
  },
  data() {
    return {
      pageTitle: 'MonsterList',
      creatures: [],
      creatureSearch: '',
      filter: {
        type: 'Any',
        cr: {
          min: null,
          max: null,
        },
        size: 'Any',
        movement: 'Any',
        source: 'Any',
      },
      sizes: [
        'Any',
        'Tiny',
        'Small',
        'Medium',
        'Large',
        'Huge',
        'Gargantuan',
      ],
      movement: [
        'Any',
        'Flying',
        'Swimming',
        'Burrowing',
        'Climbing',
      ],
      sources: [],
      types: [],
      crs: [
        { text: 'Any', value: null },
        { text: '0', value: 0 },
        { text: '1/8', value: 0.12 },
        { text: '1/4', value: 0.25 },
        { text: '1/2', value: 0.5 },
        { text: '1', value: 1 },
        { text: '2', value: 2 },
        { text: '3', value: 3 },
        { text: '4', value: 4 },
        { text: '5', value: 5 },
        { text: '6', value: 6 },
        { text: '7', value: 7 },
        { text: '8', value: 8 },
        { text: '9', value: 9 },
        { text: '10', value: 10 },
        { text: '11', value: 11 },
        { text: '12', value: 12 },
        { text: '13', value: 13 },
        { text: '14', value: 14 },
        { text: '15', value: 15 },
        { text: '16', value: 16 },
        { text: '17', value: 17 },
        { text: '18', value: 18 },
        { text: '19', value: 19 },
        { text: '20', value: 20 },
        { text: '21', value: 21 },
        { text: '22', value: 22 },
        { text: '23', value: 23 },
        { text: '24', value: 24 },
        { text: '25', value: 25 },
        { text: '26', value: 26 },
        { text: '27', value: 27 },
        { text: '28', value: 28 },
        { text: '29', value: 29 },
        { text: '30', value: 30 },
      ],
      dialog: false,
      creature: null,
      headers: [
        {
          sortable: false,
        },
        {
          text: 'Creature',
          align: 'left',
          value: 'Name',
        },
        {
          text: 'CR',
          value: 'CR',
        },
        {
          text: 'Type',
          value: 'Type',
        },
        {
          text: 'Size',
          value: 'Size',
        },
        {
          text: 'Source',
          value: 'Source',
        },
        {
          text: 'Alignment',
          value: 'Alignment',
        },
        {
          text: 'Movement',
          value: 'Movement',
        },
      ],
    };
  },
  props: [
    'filterFunction',
    'add',
  ],
  computed: {
    internalFilter() {
      let returnable = this.creatures;
      console.log(this.filter.cr);
      if (this.filter.type !== 'Any') {
        returnable = returnable.filter(c => c.Type === this.filter.type);
      }
      if (this.filter.cr.min) {
        returnable = returnable.filter(c => c.CR >= this.filter.cr.min);
      }
      if (this.filter.cr.max) {
        returnable = returnable.filter(c => c.CR <= this.filter.cr.max);
      }
      if (this.filter.size !== 'Any') {
        returnable = returnable.filter(c => c.Size === this.filter.size);
      }
      if (this.filter.movement !== 'Any') {
        returnable = returnable.filter(c => this.filterMoves(c.Movement)
          .includes(this.filter.movement));
      }
      if (this.filter.source !== 'Any') {
        returnable = returnable.filter(c => this.formatSource(c.Source)
          .split('(pg')[0] === this.filter.source);
      }
      return returnable;
    },
    filteredCreatures() {
      if (this.filterFunction) {
        return this.internalFilter.filter(this.filterFunction);
      }
      return this.internalFilter;
    },
  },
  methods: {
    filterCR(cr) {
      return this.crs.find(x => x.value === cr).text;
    },
    filterMoves(moves) {
      const output = [];
      // eslint-disable-next-line
      for (const m of moves) {
        let move = '';
        switch (m) {
          case 'f':
            move = 'Flying';
            break;
          case 's':
            move = 'Swimming';
            break;
          case 'c':
            move = 'Climbing';
            break;
          case 'b':
            move = 'Burrowing';
            break;
          default:
            move = m;
            break;
        }
        output.push(move);
      }
      return output.join(', ');
    },
    formatSource(src) {
      const data = src.toUpperCase().split(' ');
      let res = '';
      switch (data[0]) {
        case 'MM':
          res = 'Monster Manual';
          break;
        case 'MTF':
          res = 'Mordenkainen\'s Tome of Foes';
          break;
        case 'VGM':
          res = 'Volo\'s Guide to Monsters';
          break;
        default:
          [res] = data;
          break;
      }

      return `${res} (pg. ${data[1]})`;
    },
  },
  mounted() {
    this.$root.$data.get('/monsters', (e, r, b) => {
      this.creatures = JSON.parse(b);
      // eslint-disable-next-line no-restricted-syntax,guard-for-in
      for (let c = 0; c < this.creatures.length; c += 1) {
        this.creatures[c].CR = this.crs.find(x => x.text === this.creatures[c].CR).value;
      }
      this.types = this.creatures.map(c => c.Type || '');
      this.types.push('Any');
      this.types = this.types.sort();
      this.sources = [...new Set(this.creatures.map(c => this.formatSource(c.Source)
        .split('(pg')[0]))];
      this.sources = this.sources.sort();
      this.sources.unshift('Any');
    });
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
.filter-row {
  display: inline-flex;
  .flex {
    padding-left: 1em;
    padding-right: 1em;
  }
}

@media only screen and (max-width: 960px) {
.filter-row {
  display: inline-block;
  padding: 0;
  .flex {
    max-width: 100%;
    width: 100% !important;
  }
}
 .btn-col {
  text-align: center !important;
  padding: 0 !important;
  padding-left: 0.3em !important;
   i {
     font-size: 1.5em !important;
   }
 }
}
</style>
