<template>
  <v-card v-if="creature">
    <v-card-title
      class="headline darken-2"
    >
      {{ creature.Name }}
    </v-card-title>

    <v-card-text>
      <div class="text-xs-left">CR: {{ creature.CR }}</div>
      <div class="text-xs-left">{{ creature.Type }}</div>
      <div class="text-xs-left">{{ creature.Size }}</div>
      <div class="text-xs-left">Source: {{ formatSource(creature.Source) }}</div>
      <div class="text-xs-left">Alignment: {{ creature.Alignment }}</div>
      <div class="text-xs-left">Movement Options: {{ formatMoves(creature.Movement) }}</div>
    </v-card-text>

    <v-divider></v-divider>
  </v-card>
</template>

<script>
export default {
  name: 'Monster',
  data() {
    return {

    };
  },
  props: [
    'creature',
  ],
  methods: {
    formatMoves(moves) {
      const output = [];
      // eslint-disable-next-line
      for (const m of moves) {
        let move = '';
        switch (m) {
          case 'f':
            move = 'Flying';
            break;
          case 's':
            move = 'Swimming';
            break;
          case 'c':
            move = 'Climbing';
            break;
          case 'b':
            move = 'Burrowing';
            break;
          default:
            move = m;
            break;
        }
        output.push(move);
      }
      return output.join(', ');
    },
    formatSource(src) {
      const data = src.toUpperCase().split(' ');
      let res = '';
      switch (data[0]) {
        case 'MM':
          res = 'Monster Manual';
          break;
        case 'MTF':
          res = 'Mordenkainen\'s Tome of Foes';
          break;
        case 'VGM':
          res = 'Volo\'s Guide to Monsters';
          break;
        default:
          [res] = data;
          break;
      }

      return `${res} (pg. ${data[1]})`;
    },
  },
};
</script>
